<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php" phpVersion="7.3.*">tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>