<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="author" content="Matthew Trim, Christopher Sherlock, Sam Spencer-Mcfadden" />
        <link rel="stylesheet" href="{{ css_path }}" type="text/css"/>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block banner %}{% endblock %}
        {% block content %}{% endblock %}
        <div id="footer" class="cent">
            <a href={{ path_for('home') }}>Home</a>
            <a href={{ path_for('logout') }}>Logout</a>
        </div>
    </body>
</html>
