{% extends 'banner.html.twig' %}
{% block content %}
    <div id="lg-form-container">
        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="logout.php">Logout</a></li>
            {% endfor %}
        </ul>
        <h3>{{ page_heading_2 }}</h3>
   <table>
       {% if messages %}
       <caption>State Messages</caption>
                   <tr>
                       <th>Time:</th>
                       <th>Switch 1:</th>
                       <th>Switch 2:</th>
                       <th>Switch 3:</th>
                       <th>Switch 4:</th>
                       <th>Fan:</th>
                       <th>Temperature:</th>
                       <th>Last key pressed:</th>
                   </tr>
           {% for individualMessage in messages %}
               {% if individualMessage.MESSAGE %}
                   {% for message in individualMessage.MESSAGE %}
                       <tr>
                       {% for value in message %}
                           <td> {{ value }}</td>
                       {% endfor %}
                       </tr>
                   {% endfor %}
               {% endif %}
           {% endfor %}
       {% endif %}
   </table>
   <br><br>
   <p class="curr_page"><a href="{{ landing_page }}">Homepage</a></p>
  </div>
{% endblock %}
