{% extends 'banner.html.twig' %}
{% block content %}

    <div id="page-content-div">
    <form action="{{ action }}" method ="{{ method }}">
        <h3>{{ page_heading_2 }}</h3>
        <fieldset>
            <p>{{ page_text }}</p>

            <label id="switch1">Switch 1:</label>
            <label for="ona">On<input id="ona" type="radio" name="switch1" value="on" required></label>
            <label for="offa">Off<input id="offa" type="radio" name="switch1" value="off"></label>
            <br>
            <label id="switch2">Switch 2:</label>
            <label for="onb">On<input id="onb" type="radio" name="switch2" value="on" required></label>
            <label for="offb">Off<input id="offb" type="radio" name="switch2" value="off"></label>
            <br>
            <label id="switch3">Switch 3:</label>
            <label for="onc">On<input id="onc" type="radio" name="switch3" value="on" required></label>
            <label for="offc">Off<input id="offc" type="radio" name="switch3" value="off"></label>
            <br>
            <label id="switch4">Switch 4:</label>
            <label for="ond">On<input id="ond" type="radio" name="switch4" value="on" required></label>
            <label for="offd">Off<input id="offd" type="radio" name="switch4" value="off"></label>
            <br>
            <label id="fan">Fan:</label>
            <label for="forward">Forward<input id="forward" type="radio" name="fan" value="forward" required></label>
            <label for="reverse">Reverse<input id="reverse" type="radio" name="fan" value="reverse"></label>
            <br><br>
            <label for="temp">Temperature:</label>
            <input id="temp" type="number" name="temp" min="20" max="50" placeholder="Enter a temperature between 20-50" required>
            <br>
            <label for="key">Last Key Pressed:</label>
            <input id="key" type="number" name="key" min="0" max="9" placeholder="Enter a number between 0-9" required>
            <hr>
            <input type="submit" value="send">
            <br><br>
        </fieldset>
    </form>
    </div>
{% endblock %}